@import "variables";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
}

.container {
  min-height: $container-min-height;
  max-width: $container-max-width;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 5px 2px $color-border;
}
